# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
node_modules/

# Flask / general logs
*.log
instance/

# IDEs / editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db